<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
  rel="stylesheet"
/>

<div class="dashboard-container">
  <aside class="sidebar" [ngClass]="{ collapsed: isCollapsed }">
    <div class="brand">
      <h2 class="brand-title">CRUD OPERATIONS</h2>

      <button class="toggle-btn" (click)="toggleSidebar()">
        <i class="bi" [ngClass]="isCollapsed ? 'bi-x' : 'bi-list'"></i>
      </button>
      <div>
        <button
          *ngIf="!isCollapsed"
          (click)="toggleFancyMode()"
          class="theme-toggle-btn"
        >
          <i [ngClass]="fancyModeActive ? 'fas fa-sun' : 'fas fa-moon'"></i>
        </button>
      </div>
    </div>

    <div class="user-profile" *ngIf="!isCollapsed">
      <div class="avatar">
        <img
          src="../../../assets/image/WhatsApp Image 2025-04-18 at 11.17.09 PM.jpeg"
          alt=""
          style="width: 50px; border-radius: 50%"
        />
      </div>
      <div class="user-info">
        <h3 class="user-name">DEPI</h3>
        <span class="user-role">user</span>
      </div>
    </div>

    <nav class="navigation">
      <ul class="nav-list">
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/home">
            <i class="icon home-icon"></i>
            <span>Home</span>
          </a>
        </li>

        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/note/all">
            <i class="icon list-icon"></i>
            <span *ngIf="!isCollapsed">Show All Notes</span>
          </a>
        </li>

        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/note/create">
            <i class="icon add-icon"></i>
            <span  *ngIf="!isCollapsed">create note</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="sidebar-footer" *ngIf="!isCollapsed">
      <button class="logout-btn" (click)="logout()">
        <span>Logout</span>
        <i class="icon logout-icon"></i>
      </button>
    </div>
  </aside>
</div>
